<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    <header class="pure-g">
      <div id="header-content" class="pure-u-1">
        <h1>
          <div id="header-image"><img src="/assets/images/willow-logo-200.png" /></div>
          <div id="header-text"><a href="/">{{ site.title }}</a></div>
        </h1>
        <p class="links">
          <a href="https://github.com/willowchat" title="@willowchat on GitHub" class="pure-button button-link"><i class="fa fa-github"></i> willowchat</a>
          <a href="https://twitter.com/carrotcodes" title="@carrotcodes on Twitter" class="pure-button button-link"><i class="fa fa-twitter"></i> carrotcodes</a>
        </p>
      </div>
    </header>

    <main class="pure-g">
      {{ content }}
    </main>

  </body>
</html>
